@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #1d262b;
}
ul {
  list-style: none;
}
body {
  background-color: #ffff;
  padding: 10px 30px;
  width: 1200px;
  margin: auto;
}
#main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
#main nav .nav_items {
  display: flex;
  gap: 60px;
}
#main nav .nav_items h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
/* part_1 starts */
#part_1 {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
#part_1 .left {
  line-height: 1;
  /* border: 2px solid red; */
}
#part_1 .left h3 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 112px;
  color: #1d262b;
}
#part_1 .left h4 {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 500;
  font-style: italic;
  color: #1d262b;
  line-height: 1;
}
#part_1 .left p {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 70px;
  color: #1d262b;
}
#part_1 .right {
  width: 350px;
  height: 410px;
}
#part_1 .right img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
/* part_1 ends */
/* part_2 starts */
#part_2 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#part_2 ul li {
  display: inline-block;
  padding-right: 60px;
}
#part_2 ul li:last-child {
  padding-right: 0;
}
#part_2 ul li a {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1d262b;
}
/* part_2 ends */
/* part_3  */
#part_3 {
  margin: 50px 0;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
#part_3 h5,
#part_4 .top h5 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #1d262b;
}
#part_3 h3 {
  width: 880px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #1d262b;
}
#part_3 h4,
#part_4 .top h4 {
  margin-top: 30px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-bottom: 2px solid #3fd5e0;
  display: inline-block;
  color: #1d262b;
}
/* part_3 end */
/* part_4 */
#part_4 {
  /* border: 2px solid red; */
  margin: 50px 0;
}
#part_4 .top {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  /* border: 2px solid red; */
}
#part_4 .top h3 {
  margin-left: 200px;
  font-size: 40px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  color: #1d262b;
}
#part_4 .top h4 {
  margin-left: auto;
  margin-top: 0;
}

#part_4 .bottom {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#part_4 .bottom .card_1 .card_contents a img {
  width: 100%;
}
#part_4 .bottom .card_2 .card_contents a img {
  width: 520px;
}
#part_4 .bottom .card_3 .card_contents a img {
  width: 520px;
}
#part_4 .bottom .card_1 {
  width: 100%;
  margin-bottom: 50px;
  /* border: 2px solid red; */
}
#part_4 .bottom .card_2,
#part_4 .bottom .card_3 {
  width: 48%;
  /* border: 2px solid red; */
}
#part_4 .bottom h3 {
  margin-top: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #1d262b;
}
#part_4 .bottom p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9ca7ab;
  margin-top: 15px;
}
/* part_4 end */
